 .ms-Label {
    font-weight: 400!important;
}
.bold{
    font-weight: bold;
    //background-color: rgb(237,28,36);
    //https://dummyimage.com/10x10/ed1c00/white
    //background: url('https://dummyimage.com/10x10/ed1c00/white') no-repeat center left;
}
.titleLnk{
    cursor: pointer;
}
.titleLnk:hover {
    color: blue;
    cursor: pointer;
}
.noHScroll{
    overflow-x: hidden;
}

