@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import '../styles/cr.module';

.fieldDecorators {
    .errorMessage {
        font-size: 12px;
        font-weight: 400;
        color: #a80000;
        p {
            margin: 0;
            padding-top: 5px;
        }
    }

    .history {
        margin: 0.3em 0em;
        opacity: 0.7;
    }
}